<body id="mainBody" style="overflow-x:hidden !important;">

    <!-- Pre-Loader -->
    <div class="se-pre-con"></div>


    <!-- On Scroll -->
    <div class="header">
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div>
    </div>




    <div class="page-holder">

      <!-- Start header-3 Section -->
      <div id="home" class="header-3 demo-3 section-padding-100 has-gradient">
        <div class="container">
          <div class="header-3-content row">
            <div class="col-md-6 col-sm-12">
              <h1 class="has-line mb-20">We promise to make the best <em>Websites and Applications</em> for YOU </h1>
              <p class="lead"><h2><em>"Your Imagination , Our Creation"</em></h2></p>

              
             
              <!-- <a href="#" class="more-btn"> Start Now!</a> -->
            </div>
            <div class="col-md-6 hidden-sm hidden-xs">
              <div class="w3-content w3-section" style="max-width:500px">
                <img src="images/about7.png" class="mySlides .w3-animate-bottom" alt="image">
                <img src="images/31.png" class="mySlides .w3-animate-bottom" alt="image">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End header-3 Section -->


      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

        <!-- Start About Section -->
        <section id="about" class="about">
          <div class="container">
            <header class="text-center mb-70">
              <h2 class="with-bg-text has-line-center">
                <span class="heading-bg-text">About</span><span class="meet">More About Us</span>
              </h2>
            </header>
            <div class="col-md-6 col-sm-12">
              <img src="images/4.png" class="center-block width-100" alt="image">
            </div>
            
            <div class="col-md-6 col-sm-12">
              <p class="lead mb-20" style="color:black"><h3>Platform Tech Solutions is equipped with a team of versatile developers which aim at providing you with the best . We use UCD(User Centred Design) methodology for our projects.</h3>
              </p>
              <ul class="s-list list-unstyled mb-20">
                <li><h4><span class="fa fa-check"></span>Transparent Tracking system that provide the customers with their desired projects</h4> </li>
                <li><h4><span class="fa fa-check"></span>Using Cutting Edge Technologies for our projects</li></h4>
                <li><h4><span class="fa fa-check"></span>A good teamwork ensures good output</li></h4>
              <li><h4><span class="fa fa-check"></span>Analysing the difference between market and our products</li></h4>
                             <!--   <li><span class="fa fa-check"></span>Transparent Tracking system that provide the customers with their desired projects</li> -->
              </ul>
            </div>
          </div>
        </section>
        <!-- End About Section -->


        <!-- Start Our App Section 
        <section class="our-app  padding-top-small padding-bottom-small has-gradient ">
          <div class="container">
             <div class="col-md-5 col-sm-12">
                <h2 class="has-line"> Dedicate yourself to the things that really matter</h2>
                <p class="lead mb-20">We ensure that "development proceeds with the user as the center of focus" and emphasis is on completing the goals on time.  </p>
                 <a href="#" class="more-btn" > read more</a> 
             </div>
             <div class="col-md-7">
                <img src="images/dashboard2.png" alt="image" class="width-100 img-responsive center-block">
             </div>
          </div>
        </section>
         End Our App Section -->


        <!-- Start How It Work Section -->
        <section class="how-it-work">
          <div class="container text-center">
             <header class="text-center mb-50">
                <h2 class="with-bg-text has-line-center">
                   <span class="heading-bg-text"> Offer </span>What We Offer
                </h2>
             </header>
             <div class="how-one-container">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="how-box-one active">
                     <div class="inner-box">
                        <div class="block">
                          <img src="images/600.jpg" alt="" class="block__img">
                          <div class="block__body" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
                            <h3>Website Designing  </h3>
                            <p>Platform Tech Solutions uses latest technologies in web development to design required websites for the clients.</p>
                            <a href="Services.html#EDUCATION" class="section1 btn btn-pill btn-translucent" target="_blank">Learn More</a>
                          </div>
                        </div>
                     </div>
                  </div>
                </div>

                <!-- How It Work Box -->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="how-box-one active">
                    <div class="inner-box">
                      <div class="block">
                        <img src="images/600.jpg" alt="" class="block__img">
                        <div class="block__body" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
                          <div >
                            <h3>App Designing </h3>
                          </div>
                          <div>
                            <p>Platform Tech Solutions creates best mobile app for your business, to attract your users and build engagement. </p>
                               <a href="Services.html#prservices" class="section2 btn btn-pill btn-translucent" target="_blank">Learn More</a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- How It Work Box-->
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                  <div class="how-box-one active">
                    <div class="inner-box">
                      <div class="block">
                        <img src="images/600.jpg" alt="" class="block__img">
                        <div class="block__body" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
                          <h3>Digital Marketing </h3>
                          <p>  We aim to guide you through digital marketing and help you make good decisions. </p>
                          <a href="Services.html#NGOs" class="section3 btn btn-pill btn-translucent" target="_blank">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
             </div>
          </div>
        </section>
        <!-- End How It Work Section -->


        <!-- Start Testimonials Section -->
        <section id="test" class="testimonial section-padding-100-70" style="background-image: url(images/1.png)">
          <div class="container text-center">
              <div class="row d-flex align-items-center">
                  <div class="col-md-12 col-sm-12 col-xs-12 text-left reviewbanner">
                   <h2 class="has-line dark-text"> <span class="bold">What Our Clients Says</span></h2>
                 </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 testimonials-style-two">
                     <div class="item ">
                        <div class="testimonial-item has-shadow">
                           <div class="inner-box">
                              <figure class="author-thumb img-circle"><img class="img-circle" src="images/PS_Arun.jpg" alt="image"></figure>
                              <div class="text">" I had contacted Platform since they were providing pro-bono tech support to social causes.
                                Tech support initiatives like this is a model worth replicating in all the engineering colleges in India.
                                " </div>
                              <div class="info">PS arun - <span class="designation">Founder(MLA Track)</span></div>
                              <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 testimonials-style-two">
                     <div class="item ">
                        <div class="testimonial-item has-shadow">
                           <div class="inner-box">
                              <figure class="author-thumb img-circle"><img class="img-circle" src="images/loogoo.png" alt="image"></figure>
                              <div class="text">
                                <!-- Once the team was convinced about the social impact of our project,Platform Tech IOT's team offered me the best available technology for designing our website. -->
                               "I have personally been very impressed, each time, with the quality of Platform tech IOT’s work and their submissions. They are very clear in understanding our requirements."  </div>
                              <div class="info">igor cavrak - <span class="designation">Founder(AEMWIA)</span></div>
                              <div class="quote-icon"><span class="fa fa-quote-left"></span></div>
                           </div>
                        </div>
                     </div>
                  </div>
              </div>
          </div>
        </section>
        <!-- End Testimonials Section -->

      </div>
    </div>
    <!-- End Page Holder -->


    <section id="features" class="section-padding-100-70">
          <div class="container">
            <div class="row d-flex align-items-center">

    <!--Service Box-->
    <div class="col-md-6 col-sm-12 col-xs-12 mt-s cnt">

       <div class="row">
           <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="service-box-one bg-1 new-feat">
                 <div class="inner-box">
                   <img src="images/icons/f1.png" alt="" class="block-icon">
                   <h3 class="w-text">Email Marketing</h3>
                   <div class="g-text text">Website retargeting, B2B lead Generation and many more important aspects are covered</div>
                 </div>
               </div>
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12 ">
               <div class="service-box-one bg-2 new-feat mt-lg-30 mb-lg-0">
                 <div class="inner-box">
                   <img src="images/icons/f3.png" alt="" class="block-icon">
                   <h3 class="w-text">Content Marketing</h3>
                   <div class="g-text text"> We have top Content Creators ready to take your business to the next level.</div>
                 </div>
               </div>
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12">
               <div class="service-box-one bg-3 new-feat">
                 <div class="inner-box">
                   <img src="images/icons/f2.png" alt="" class="block-icon">
                   <h3 class="w-text">Paid Advertising</h3>
                   <div class="g-text text">Reach your audience on every screen with innovative ad formats.</div>
                 </div>
               </div>
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12 mt-lg-30">
               <div class="service-box-one bg-4 new-feat">
                 <div class="inner-box">
                   <img src="images/icons/f4.png" alt="" class="block-icon">
                   <h3 class="w-text">Search Optimization</h3>
                   <div class="g-text text"> We offer complete search SEO Solutions at affordable prices.
                   </div>
                 </div>
               </div>
           </div>
        </div>
      </div>

    <div class="ex_tra1 col-sm-6" style="color: black ;">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="well">
          <h1 class="text-center head with-bg-text">Drop Your Query</h1>
          <form class="form-horizontal" action="https://formspree.io/deepak19.engg@gmail.com" method="POST">
            <div class="form-group">
              <label for="Name" class="control-label head">Enter Your Name :</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" class="form-control" name="name">
              </div>
            </div>
          <div class="form-group">
            <label for="Name" class="control-label head">Enter Your Email* :</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
              <input type="email" class="form-control" name="_replyto">
            </div>
          </div>
          <input type="hidden" name="_subject" value="submission from site">
          <div class="form-group">
            <label for="Name" class="control-label head">Enter the message :</label>
            <textarea class="form-control" name="message" rows="5"></textarea>
          </div>
          <p class="text-center">
            <button type="submit" class="btn btn-success">Submit Now</button>
          </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>

<!-- End of Agents and Query Section-->

</div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/script.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/aos.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
      AOS.init({
        duration: 1500,
      });
    </script>
    <script>
      var myIndex = 0;
      carousel();
      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 2600);
      }
    </script>
    <script type="text/javascript">
      window.onscroll = function() {myFunction()};
      function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
      }
    </script>

    <!--Script for chat box-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5c9faa476bba4605280079b2/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <script>
    setTimeout(function styles(){
      document.getElementById('mainBody').style="overflow:hidden;";
    },3000)
    </script>
  </body>
