<head>
    <!--#Meta Part-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!--#typekit-->
    <title>Platform Tech Solutions</title>
    <meta name="description" content="Platform Tech Solutions is a web designing ,web app, android/IOS mobile app, custom softwares and web development company providing services to enterprises across the world and their digital marketing needs like search engine optimization, social media marketing , email marketing , advertising campaigns, growth hacking, lead generation etc">
    <meta name="keywords" content="Platform Tech Solutions, web design, web development , app development,digital marketing company, 
    best website designing company in chandigarh , best website designing company in , ngo incubators, free website designing for ngos, website 
    for startup , crowd funding for startup , website designing for entrepreneur">
    <meta name="robots" content="all">

     <!-- Mobile Metas -->
     <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1">
     <meta name="apple-mobile-web-app-capable" content="yes">

     <!--favicon.ico-->
     <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
     <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
     <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
     <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
     <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
     <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
     <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
     <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
     <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
     <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
     <link rel="manifest" href="/manifest.json">
     <meta name="msapplication-TileColor" content="#ffffff">
     <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
     <meta name="theme-color" content="#ffffff">

     <!-- #DNS prefetching -->
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/">

    <!-- #Asset Prefetching -->
    <link rel="prefetch" href="./img/">

    <!-- #Page Prefetching -->
    <link rel="prefetch" href="index.html">

     <!--#Other attched files-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/hf.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/color-2.css">
    <link rel="stylesheet" type="text/css" href="css/aos.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
