<div class="topnav" id="myTopnav">
    <div class="navv">
      <a href="#"><img src="images/logo.jpg" width="50" height="50" class="imgg" alt="Company Logo"></a>
      <div class="brand-styling">
        <a href="index.html" class="navitem act">Platform Tech Solutions</a>
      </div>
      <a href="#about" class="navitem">About Us</a>
      <a href="Work.html" class="navitem">Our Work</a>
      <a href="Services.html" class="navitem">Our Services</a>
      <a href="javascript:void(0);" class="icon navitem" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>